@import "tailwindcss";

@theme {
  --color-fs-background: var(--fs-background);
  --color-fs-sidebar: var(--fs-sidebar);
  --color-fs-surface: var(--fs-surface);
  --color-fs-border: var(--fs-border);

  --color-fs-text-primary: var(--fs-text-primary);
  --color-fs-text-secondary: var(--fs-text-secondary);
  --color-fs-text-muted: var(--fs-text-muted);

  --color-fs-accent: var(--fs-accent);
  --color-fs-accent-hover: var(--fs-accent-hover);
}

:root {
  --fs-background: #f5f5f5;
  --fs-sidebar: #ffffff;
  --fs-surface: #ffffff;
  --fs-border: #e5e7eb;

  --fs-text-primary: #171717;
  --fs-text-secondary: #737373;
  --fs-text-muted: #a3a3a3;

  --fs-accent: #10b981;
  --fs-accent-hover: #059669;
}

.dark {
  --fs-background: #1e1e1e;
  --fs-sidebar: #0d1117;
  --fs-surface: #151a21;
  --fs-border: #30363d;

  --fs-text-primary: #f5f5f5;
  --fs-text-secondary: #a1a1aa;
  --fs-text-muted: #71717a;

  --fs-accent: #10b981;
  --fs-accent-hover: #059669;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--fs-background);
  color: var(--fs-text-primary);
}

@keyframes activeBorder {
  from {
    transform: scaleY(0);
    opacity: 0;
  }

  to {
    transform: scaleY(1);
    opacity: 1;
  }
}